<%= form_with url: discs_path(@disc), method: :patch, local: true do |form| %>
  <p>Update Disc:</p>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :plastic %>
  <%= form.text_field :plastic %>
  <%= form.label :speed %>
  <%= form.number_field :speed %>

  <%= form.submit "Submit" %>
<% end %>
